.footer {
  background-color: #1a1a1a; /* Dark background */
  color: #fff;
  padding: 20px;
  text-align: center; /* Center text */
}

.container {
  margin-bottom: 15px; /* Add some space below the main links */
}

.additionalLinks {
  margin-top: 15px; /* Space between the sections */
}

.additionalLinks h3 {
  margin: 10px 0; /* Margin for the topics header */
}

.footerLinks {
  list-style: none;
  padding: 0;
}

.footerLinks li {
  display: inline-block; /* Use inline-block for better spacing */
  margin: 0 10px;
}

.footerLinks a {
  color: #00ff00; /* Accent color */
  text-decoration: none;
}
