/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body Styles */
body {
  font-family: 'Poppins', sans-serif; /* Consistent font */
  background-color: #121212; /* Dark background */
  color: #fff; /* White text color */
  scroll-behavior: smooth; /* Smooth scrolling */
}

/* Link Styles */
a {
  text-decoration: none; /* No underline */
  color: inherit; /* Inherit color from parent */
  transition: color 0.3s; /* Smooth color transition */
}

a:hover {
  color: #00ff00; /* Change link color on hover */
}

/* Add any other global styles here */
